# string format

In [1]:
# This prints out "Hello, john!"
name = "john"
print("Hello, %s!" % name)

Hello, john!

In [2]:
print("Hello,",name,"!")

Hello, john !

In [3]:
#This prints out "John is 23 years old."
name = "john"
age = 23
print("%s is %d years old." % (name , age))

john is 23 years old.

In [4]:
x="apples"
y="lemons"
z="i have %s and %s" %(x,y)
print(z)

i have apples and lemons

In [6]:
name="john"
age=24
print("his name is {} he is {} years old.".format(name,age))

his name is john he is 24 years old.

In [7]:
print('{0} and {1}'.format('spam', 'eggs'))

print('{1} and {0}' .format('eggs', 'spam'))

spam and eggs
spam and eggs

In [8]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [9]:
k=[40,90,22,78,30,67]
min(k)

22

In [11]:
max(k)

90

# USER DEFINED FUNCTION

In [12]:
# function definition

In [13]:
def function1():
    print("Hello function1")

In [16]:
#function calling 

function1()

Hello function1

In [17]:
def function2():
    print("Inside function2")

In [18]:
function2()

Inside function2

In [19]:
def addfunction():
    a=10
    b=20
    c=a+b
    print("addition of a and b =",c)

In [20]:
addfunction()

addition of a and b = 30

In [1]:
def multiplyfunction():
    x=5
    y=4
    z=x*y
    print("multiply of",x, "and" ,y, "=" ,z)

In [2]:
multiplyfunction( )

multiply of 5 and 4 = 20

In [25]:
def concatfunction():
    string1="Data"
    string2="science"
    print("string concatenation =")
    print(string1+" "+string2)

In [26]:
concatfunction()

string concatenation =
Data science

In [29]:
#function defination
def area_of_rectangle_function():
    a=70
    b=8
    c=a*b
    print("Area of rectangle =",c)
    
    #function calling
area_of_rectangle_function()

Area of rectangle = 560

In [3]:
def circle_area_function( ):
    radius=int(input("Enter the value of radius"))
    pi=3.14
    area=pi*(radius**2)
    print("The area of circle with radius " ,radius, " = ",area)

In [4]:
circle_area_function( )

Enter the value of radius9
The area of circle with radius  9  =  254.34

functions with parameters

In [1]:
def addition_function_with_parameters(a,b):
    c=a+b
    print("The value =",c)

In [2]:
addition_function_with_parameters(10,20)

The value = 30

In [3]:
def substraction_function(x,y):
    z=x-y
    print("The value of z=",z)

In [4]:
substraction_function(80,30)

The value of z= 50

In [5]:
def addfunction(a,b,c):
    add=a+b+c
    print("addition =",add)

In [6]:
addfunction(5,10,20)

addition = 35

In [1]:
def runfunction( ):
    print("inside function")
    for i in [1,2,3,4,5,88,99]:
        print(i)

In [2]:
runfunction( )

inside function
1
2
3
4
5
88
99

In [3]:
def outsidefunction( ):
    print ("outside function")
    runfunction( )

In [4]:
outsidefunction( )

outside function
inside function
1
2
3
4
5
88
99

In [5]:
def addition_function(a,b):
    c=a+b
    print("The value =",c)

In [7]:
x=int(input("enter value of x"))
y=int(input("enter value of y"))

addition_function(x,y)

enter value of x50
enter value of y100
The value = 150